<footer class="footer">
    <div class="container">
        <hr>
        <ul id="footer_table">
            <li class="footer_link"><a href="mailto:adamzurek14@gmail.com"><img border="0" alt="Email" src="/src/email_icon.png" class="footer-image"></a></li>
            <li class="footer_link" style="margin-left: 10px"><a href="https://github.com/zurek11"><img border="0" alt="GitHub" src="/src/github_icon.png" class="footer-image"></a></li>
            <li class="social"><a href="https://www.instagram.com/zurek5426/"><img border="0" alt="Instagram" src="/src/instagram_icon.png" class="footer-image"></a></li>
            <li class="social"><a href="https://www.linkedin.com/in/adam-%C5%BE%C3%BArek-46a6a5156/"><img border="0" alt="LinkedIn" src="/src/linkedin_icon.png" class="footer-image"></a></li>
            <li class="social"><a href="https://plus.google.com/u/0/116552911768238305257"><img border="0" alt="Google+" src="/src/google_icon.png" class="footer-image"></a></li>
            <li class="social"><a href="https://www.facebook.com/adam.zurek.758"><img border="0" alt="Facebook" src="/src/facebook_icon.png" class="footer-image"></a></li>
        </ul>
    </div>
</footer>