<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Adam Žúrek</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                {% if page.site == 'home' %}
                <li class="active"><a href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                {% else %}
                <li><a href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                {% endif %}

                {% if page.site == 'about' %}
                <li class="active"><a href="/about"><i class="glyphicon glyphicon-info-sign"></i> About</a></li>
                {% else %}
                <li><a href="/about"><i class="glyphicon glyphicon-info-sign"></i> About</a></li>
                {% endif %}

                {% if page.site == 'skills' %}
                <li class="active"><a href="/skills"><i class="glyphicon glyphicon-list-alt"></i> Skills</a></li>
                {% else %}
                <li><a href="/skills"><i class="glyphicon glyphicon-list-alt"></i> Skills</a></li>
                {% endif %}

                {% if page.site == 'cv' %}
                <li class="active"><a href="/cv"><i class="glyphicon glyphicon-education"></i> CV</a></li>
                {% else %}
                <li><a href="/cv"><i class="glyphicon glyphicon-education"></i> CV</a></li>
                {% endif %}

                {% if page.site == 'projects' %}
                <li class="active"><a href="/projects"><i class="	glyphicon glyphicon-folder-open"></i> Projects</a></li>
                {% else %}
                <li><a href="/projects"><i class="glyphicon glyphicon-folder-open"></i> Projects</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if page.site == 'wp' %}
                <li class="active"><a href="/wp"><img border="0" alt="WP" src="/src/fiit_logo.png" height="22" ></a></li>
                {% else %}
                <li><a href="/wp"><img border="0" alt="WP" src="/src/fiit_logo.png" height="22"></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>